*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
  url(familyHome.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}
.mid h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}


.botpage{
	margin-top: 500px;
	background-color: white;

}

.header-link {
  margin-right: 10px;
  color: #28a745;

}

.img-fluid{
	max-width: 100%;
	height: auto;
}
.marketing .col-lg-4 {
	margin-top: 100px;
  margin-bottom: 300px;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.row{

}
footer{
	padding-bottom: 50px;
}

button:disabled {
  opacity: 0.5;
}

.login-form {
  display: inline-flex;
  align-items: flex-end;
}

.register-form {
  display: block;
  width: 50%;
}

input[type=text] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.footer {
}
