body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 30px;
}

ol, ul {
  padding-left: 20px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font: 25px "Times New Roman";
  color: black;
  margin-left: 10px;
  margin-bottom: 10px;
}

.image {
  background: #fff;
  /*border: 16px solid #999;*/
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: auto;
  height: 375px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  width: 375px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}